.Header{
    position: relative;
    bottom: 10px;
    width:100%;
    height: 80px;
    background: white;
}

.IITG_logo{
    position: relative;
    top: 5px;
    height: 70px;
    width: 450px;
}

.contact{
    position: relative;
    left: 87%;
    bottom: 95%;
    font-size: 18px;
}

.Heading{
    position: relative;
    top: -40px;
    background: #C58E0C;
    width: 100%;
    height: 120px;
    margin-bottom: -40px;
    
}

.Heading>h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 28px;
}

.main_image{
    position: relative;
    top: -40px;
    width: 100px;
}

.taskbar{
    z-index: 10;
    position: relative;
    top: -40px;
    width: 100%;
    height: 50px;
    background-color: rgb(233, 184, 115);
    position: sticky;
    top: 0;
    margin-bottom: 0;
}

.Button{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 220px;
    font-size: 20px;
    padding: 15px 32px;
    /* border-style: none solid none none;;
    border-right-color: rgb(2, 0, 0); */
    margin-right: 20px;
    color: rgb(43, 38, 25);
}

.Button_in_use{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 220px;
    font-size: 20px;
    padding: 15px 32px;
    /* border-style: none solid none none;;
    border-right-color: rgb(2, 0, 0); */
    margin-right: 20px;
    color: rgb(43, 38, 25);
}
.Button:hover{
    transform: scale(1.4) 
}

.Button:active{
    color: none;
}

p{
    font-size: 20px;
}

.footer{
    margin-top: 100px;
    height: 200px;
    width: 100%;
    background-color: rgb(34, 37, 55);
}

.footer>img{
    position: relative;
    height: 150px;
    width: 150px;
    left: 50px;
}